<div class="main">  	
		<input class="input" type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="email" name="email" placeholder="Email" [(ngModel)]="registCampos.email" required="">
					<input type="password" name="pswd" placeholder="Password" [(ngModel)]="registCampos.password" required="">
					<button (click)="registro()">Sign up</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Emaill" [(ngModel)]="loginCampos.emaill" required="">
					<input type="password" name="pswd" placeholder="Passwordd" [(ngModel)]="loginCampos.passwordd" required="">
					<button (click)="ingreso()">Login</button>
				</form>
			</div>
    </div>